# DATA TYPES

In [1]:
#numeric
# integer
a=10
print(a)
print(type(a))

10
<class 'int'>

In [2]:
a=10.0
print(a)
print(type(a))

10.0
<class 'float'>

In [3]:
#string - ordered sequence of character
# single line denoted by ' ' or " " and multi line by ''' '''
#indexed and immutable
s='' #empty string
print (type(s))

<class 'str'>

In [5]:
s="decode"
print(s)
print(type(s))
print (s[0])
s[0]="a"
print(s)

decode
<class 'str'>
d

TypeError: 'str' object does not support item assignment

In [6]:
s=''' hello
welcome
to the city of lakes'''
print(s)

 hello
welcome
to the city of lakes

In [9]:
#list - collection of element 
# it is denoted by with csv.
# indexed
l=[5,2,'v']
print(l)
print(l[2])
print(type(l))

[5, 2, 'v']
v
<class 'list'>

In [10]:
# tuple also contains elements and denoted by ()
t=(10)
print(type(t))

<class 'int'>

In [13]:
# to make it tuple
t=(10,)
print(type(t))

<class 'tuple'>

In [14]:
tupple=(10,20,'a')
print(tupple)

(10, 20, 'a')